# Node modules
node_modules/
backend/node_modules/

# Angular build output
dist/
.angular/
out-tsc/

# Environment variables
.env

# Logs
*.log
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db